.selfocus__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--gradient-bar);
}

.selfocus__cta-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fff;
}

.selfocus__cta-content p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
}

.selfocus__cta-content h3 {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 45px;
  font-weight: 800;
}

.selfocus__cta-submission {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.selfocus__cta-submission a {
  color: revert !important;
  text-decoration: revert !important;
}

.selfocus__cta-submission h1 {
  font-size: 22px;
}

@media screen and (max-width: 650px) {
  .selfocus__cta {
    flex-direction: column;
  }

  .selfocus__cta-content {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .selfocus {
    flex-direction: column;
    margin: 4rem 2rem;
  }

  .selfocus__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }
}

@media screen and (max-width: 450px) {
  .selfocus__cta .selfocus__signup {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .selfocus__cta-content h3 {
    padding: 0rem 2rem;
  }
}
